@import "../homepage/homepage.component.scss";
.work_card {
    h4 {
        margin-bottom: 0 !important;
    }
    p {
        font-size: 1.5rem;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }
}
.contact_block{
    position: relative;
    h2{
        text-align: center;
    }
    button{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
