<div class="container">
  <div class="wrapper">
    <div class="the_main_block page_block">
      <div class="caption">
        <h2>
          A Great user experience <br />
          is <span class="purple">Our Priority</span>
        </h2>
        <p>
          We create user experience with accessibility in mind. We are here to
          give modern solutions to the modern problems.
        </p>
      </div>
      <button routerLink="../work" class="btn btn_normal btn_pink">Our Work</button>

      <div class="img_block">
        <img src="../../assets/wedopage/hand.png" alt="" />
      </div>
    </div>
    <div class="web_development_block page_block ">
      <div>
        <h2>Web Development</h2>
        <p class="purple">Website and Web App Development</p>
        <p>
          A website is something that gives you and your buisness a Web
          presence. Here at Syntrax, We exactly take care of that.
        </p>
        <button class="btn btn_normal btn_pink">More</button>
      </div>
      <img src="../../assets/wedopage/mac.png" alt="" />
    </div>
    <div class="page_block wedo_page_block">
      <img src="../../assets/wedopage/pwa.png" alt="" />
      <div>
        <h2>Progressive web Apps</h2>
        <p class="purple">Progressive web app development</p>
        <p>
          Progressive web apps are the futre of Modern web and We understand
          that as We’ve been working with those.
        </p>
        <button class="btn btn_normal btn_pink">More</button>
      </div>
    </div>

    <div class="page_block wedo_page_block">
        <div>
          <h2>User interface Design</h2>
          <p class="purple">User interface and User experience design</p>
          <p>
            As a Design focused digital agency we are highly
concerned about the overall product design.
          </p>
          <button class="btn btn_normal btn_pink">More</button>
        </div>
        
        <img src="../../assets/wedopage/sketch.png" alt="" />
        
      </div>
  </div>
</div>
