@import "../homepage/homepage.component.scss";

.the_main_block {
    button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 5rem;
    }
}
.info_block_aboutpage {
    display: flex;
    justify-content: space-between;
    >div{
        width: 55%;
        h2 {
        margin: 0;
    }
    }
    img{
        width: 35%;
        height: fit-content;
        
    }
    @media screen and (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        &:nth-of-type(3){
            flex-direction: column-reverse;
        }
        >div{
            width: 100%;
        }
        img{
            width: 45rem;
            max-width: 100%;
        }
     }
    
}
.howwestarted_block{
    img{
        margin-top: 10%;
    }
    @media screen and (max-width: 1000px) {
        img{
            margin-top: 6rem;
        }
     }
    
}
.end_product_block{
    >div{
        margin-top: 15%;
    }
    @media screen and (max-width: 1000px) {
        >div{
            margin-top: 0;
        }
        img{
            margin-top: 6rem;
        }
     }
}
.contact_block{
    position: relative;
    h2{
        text-align: center;
    }
    button{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}