<div class="container">
  <div class="wrapper">
    <div class="the_main_block page_block">
      <div class="caption">
        <h2>
          We are helping <span class="pink">people</span> with <br />
          building their <span class="pink">brands</span>.
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget
          vulputate nunc cras odio non, lacus, feugiat.
        </p>
      </div>

      <div class="img_block">
        <img src="assets/aboutpage/hand.png" alt="" />
      </div>
      <button routerLink="../about" class="btn btn_normal btn_pink">Our Story</button>
    </div>
    <div class="info_block_aboutpage howwestarted_block page_block">
      <div>
        <h2>
          How we <span class="pink">started</span> doing what we
          <span class="pink">love</span>
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie
          blandit et maecenas pharetra, imperdiet mi rutrum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie
          blandit et maecenas pharetra, imperdiet mi rutrum. Lorem ipsum dolor
          sit amet, consectetur adipiscing elit
        </p>
        <button routerLink="../work" class="btn btn_normal btn_pink">Our work</button>
      </div>
      <img src="assets/aboutpage/Group.png" alt="" />
    </div>
    <div class="info_block_aboutpage end_product_block page_block">
      <img src="assets/aboutpage/Rectangle.png" alt="" />

      <div>
        <h2>
          We are Concerned about the <span class="pink">End Product</span>
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie
          blandit et maecenas pharetra, imperdiet mi rutrum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie
          blandit et maecenas pharetra, imperdiet mi rutrum. Lorem ipsum dolor
          sit amet, consectetur adipiscing elit
        </p>
        <button routerLink="../work" class="btn btn_normal btn_pink">Our work</button>
      </div>
    </div>
    <div class="page_block contact_block">
        <h2>
            Excited to work <span class="pink">with</span> us ? <br> Lets Connect 
            
         
        </h2>
        <button routerLink="../contact" class="btn btn_big btn_pink">Contact us</button>
      </div>
  </div>
</div>
